<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">



  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Stock Engine</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/static/css/boot.css">


  <!-- Bootstrap -->

</head>



<body>
  <div class="header">
    <div class="container-fluid">
      
          <a href="#" class="text-center">
            <div class="text-center"><img src="/static/img/logo.png" height="38" width="38"></div>
            <div class="text-center"><center>Stock Engine</center>
            </div>
          </a>
        </div>
    
  </div>




<div class="container">
  <div class="content">

    <div class="row">
      <div class="col-md-12">
        <h3><b style="color:#008000"><b>{{username}}</b> can invest in following ways</h3>
  </div>
    <div class="selection center-block">
      <div class="row">


        <div class="col-sm-4">
          <div class="row"><a href="/investstrategy?username={{username}}"><img class="center-block" src="/static/img/strategy.png" height="250" width="250"></a></div>
          <div class="row"><h4 class="text-center"><a href="/investstrategy?username={{username}}" style="color:#6b6c72;" >Invest in Strategy</a></h4></div>
        </div>

        <div class="col-sm-4">
          <div class="row center-block"><a href="/investstock?username={{username}}"><img class="center-block" src="/static/img/stock.png" height="250" width="250"><a></div>
          <div class="row"><h4 class="text-center"><a href="/investstock?username={{username}}" style="color:#6b6c72;">Invest in Stocks</a></h4></div>
        </div>

        <div class="col-sm-4">
          <div class="row center-block"><a href="/addstock?username={{username}}"><img class="center-block" src="/static/img/exist-stock.png" height="250" width="250"></a></div>
          <div class="row"><h4 class="text-center"><a href="/addstock?username={{username}}" style="color:#6b6c72;">Add pre-existing Stocks</a></h4></div>
        </div>


      </div>
  </div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

</div>
  </div>
<script>
$(window).on('resize',function() {
     var docHeight = $(window).height();
     var footerHeight = $('#footer').height();
     var footerTop = $('#footer').position().top + footerHeight;

     if (footerTop < docHeight) {
      $('#footer').css('margin-top', -30 + (docHeight - footerTop) + 'px');
     }
    });
    $(document).ready(function() {
        $(window).trigger('resize');
    });
</script>

<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
           <div>Send feedback to contact@stockengine.com</div>
          <a href="#">Report Issues</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>

